:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Fira Code', 'Roboto Mono', monospace;
  --font-size-base: 16px;
  --font-size-heading: 2rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #0070f3;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000080,
    #00000080,
    #00000080,
    #00000080,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #0070f3;

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#000, #000, #000, #000, #000, #000, #000);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-heading);
}

/* Add this to your global CSS */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #eee;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-200px);
}

.sidebar.open {
  transform: translateX(0);
}

.main-container {
  margin-left: 200px;
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-toggle:hover {
  background-color: #0051a1;
}
