.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #00021d;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  background-color: #000c69;
  padding: 1rem;
  font-size: 2rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.toolButton {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: #ffffff;
  font-size: 1.2rem;
  margin-right: 2rem;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toolButton:hover {
  border-bottom: 2px solid #ffffff;
}

.downloadLinkIcon,
.githubLinkIcon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.downloadLinkIcon:hover,
.githubLinkIcon:hover {
  transform: scale(1.1);
}

.downloadLinkIcon {
  background-image: url('/download-icon.svg');
}

.githubLinkIcon {
  background-image: url('/github-icon.svg');
}

.downloadAppButton {
  background-color: #444444;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 2rem;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.downloadAppButton:hover {
  background-color: #222222;
}

.githubIcon {
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url('/github-icon.png');
  background-size: cover;
  margin-top: 2rem;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.githubIcon:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .pdfButtonContainer {
    margin-top: 2rem;
  }

  .downloadAppButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    position: static;
  }
}

.intro {
  margin: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
}

.toolsHeader {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.toolsList {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1.1rem;
  text-align: center;
}
