.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #00021d73;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 100%;
}

.githubLink {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 50px;
  color: #ffffff;
  text-decoration: none;
}
