.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.pdfInput {
  margin-bottom: 1.5rem;
}

.pdfList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.pdfItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: move;
}

.pdfName {
  flex-grow: 1;
}

.pdfRemove button {
  background-color: #ff5c5c;
  border: none;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}

.pdfActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pdfButton {
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pdfButton:hover {
  background-color: #0051a1;
}

.pdfButtonDisabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pdfButtonDisabled:hover {
  background-color: #ccc;
}

.pdfFilename {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  max-width: 300px;
}
