.sidebar {
  background-color: #0e3899d5;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.closeSidebarButton {
  background-color: #bd0c0cc2;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  width: calc(100% - 40px);
}

.closeSidebarButton:hover {
  background-color: #4b505a;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 0;
  padding: 0;
}

.toolButton {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 20px;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.toolButton:hover {
  background-color: #3b3f4a;
}

.toolButton.active {
  background-color: #3b3f4a;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
    overflow: hidden;
  }

  .sidebar.open {
    transform: translateY(0%);
  }

  .closeSidebarButton {
    margin: 0 auto;
    position: static;
    width: 100%;
    bottom: 0;
  }
}
