.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.toolsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4rem;
}

.toolBox {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    justify-content: space-between;
}

.toolBox:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.toolIcon {
    width: 100px;
    height: 100px;
    background-image: url('https://cdn.statically.io/gh/Sudo-Ivan/MyWebsite-Assets/main/images/website/pdficon01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.toolButton {
    background-color: #b31b1b;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, transform 0.2s;
    display: inline-block;
    margin: 0.5rem 0;
}

.toolButton:hover {
    background-color: #8d1414;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .header {
        font-size: 1.5rem;
    }

    .toolsContainer {
        padding-top: 2rem;
    }

    .toolBox {
        width: 90%;
        margin: 1rem auto;
    }

    .toolButton {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .intro, .toolsHeader, .toolsList {
        padding: 0 1rem;
    }

    .githubLink {
        font-size: 2rem;
        bottom: 10px;
        right: 10px;
    }
}

.intro {
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
}

.toolsHeader {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.toolsList {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.1rem;
    text-align: center;
    padding: 0;
    margin: 0;
}